*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:Arial, sans-serif;
}


body{
    background:#f2f6fc;
}


/* Header */

header{
    background:#0057b8;
    color:white;
    text-align:center;
    padding:30px;
}


header h1{
    font-size:32px;
}


/* Navigation */

nav{
    background:#003f88;
    padding:15px;
    text-align:center;
}


nav a{
    color:white;
    text-decoration:none;
    margin:0 15px;
    font-size:18px;
}


nav a:hover{
    color:#ffd700;
}


/* Welcome Section */

.welcome{
    background:white;
    width:80%;
    margin:30px auto;
    padding:40px;
    text-align:center;
    border-radius:10px;
}


.welcome h2{
    color:#0057b8;
    margin-bottom:15px;
}


button{
    margin-top:20px;
    padding:12px 25px;
    background:#0057b8;
    color:white;
    border:none;
    border-radius:5px;
    cursor:pointer;
}



/* Cards */

.cards{
    display:flex;
    justify-content:center;
    gap:20px;
    flex-wrap:wrap;
}


.card{
    background:white;
    width:250px;
    padding:25px;
    text-align:center;
    border-radius:10px;
    box-shadow:0 0 10px #ccc;
}


.card h3{
    color:#0057b8;
}



/* Footer */

footer{
    margin-top:40px;
    background:#003f88;
    color:white;
    text-align:center;
    padding:20px;
}
